@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap');

//Colores
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$white: #fff;
$black: #333;
$blue: hsl(246, 80%, 60%);
$very_dark_blue: hsl(226, 43%, 10%);
$soft_orange: hsl(43, 84%, 65%);
$grey: #F7F7F7;

//Fuentes
$poppins: 'Poppins', sans-serif;